:root {
  --bg-body: #d9e5f3;
  --border: #134077;
  --bg-button: #0057ff;
  --bg-button-hov: #0242c4;
  --bg-edit: rgb(224, 224, 42);
  --bg-delete: rgb(212, 4, 4);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url(../img/bg-edusogno.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -23rem;
}

.php_mess {
  font-size: 2em;
  color: var(--bg-button);
  text-align: center;
  margin-top: 8rem;
}

.btn {
  background-color: var(--bg-button);
  color: white;
  display: block;
  font-weight: bold;
  width: 100%;
  padding: 0.8rem 0;
  border-radius: 10px;
  border: 0;
}

.btn:focus {
  border: 2px solid var(--bg-button);
}

.btn:hover {
  background-color: var(--bg-button-hov);
  cursor: pointer;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

header img {
  height: 2.5rem;
}

header .dash {
  font-weight: bold;
  color: var(--bg-button);
  text-decoration: none;
}

.title_form {
  text-align: center;
  margin: 5rem 0 1rem 0;
}

.form {
  background-color: white;
  margin: 0 auto;
  max-width: 500px;
  padding: 2rem;
  border: 1px solid var(--border);
  border-radius: 10px;
}

.form_inline {
  display: inline-block;
}

.text-center {
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--border);
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
}

input:focus {
  outline: none;
  padding-inline: 2px;
}

.register {
  text-align: center;
  margin-top: 1.5rem;
}

.register a {
  color: blue;
}

/* HOME  */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 4rem;
}

.card {
  border: 1px solid white;
  padding: 1.5rem;
  border-radius: 15px;
}

.title_card {
  margin-bottom: 1rem;
}

.date {
  margin-bottom: 1rem;
  font-size: 0.9em;
  color: grey;
}

.btn_logout {
  background-color: var(--bg-button);
  position: fixed;
  bottom: 1rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: 8px;
}

.btn_logout a {
  text-decoration: none;
  color: white;
}

/* DASHBOARD */

h1 {
  color: var(--bg-button);
}

h1,
h2 {
  text-align: center;
  margin: 2rem 0;
}

table {
  margin: 0 auto 2rem auto;
  background-color: white;
  border: 1px solid var(--border);
  border-radius: 10px;
}

th,
td {
  padding: 0.3rem 0.5rem;
}

.btn_table {
  padding: 0.3rem 0.8rem;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
}

.edit {
  background-color: var(--bg-edit);
}

.edit:hover {
  cursor: pointer;
  background-color: yellow;
}

.delete {
  background-color: var(--bg-delete);
}

.delete:hover {
  cursor: pointer;
  background-color: red;
}
