* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

.php_mess {
  font-size: 2em;
  color: white;
  text-align: center;
  margin-top: 8rem;
}

.btn {
  background-color: #0057ff;
  display: block;
  font-weight: bold;
  width: 100%;
  padding: 0.8rem 0;
  border-radius: 10px;
  border: 0;
}

.btn:focus {
  border: 2px solid #0057ff;
}

.btn:hover {
  background-color: #0242c4;
  cursor: pointer;
}

header {
  background-color: white;
  padding: 0.5rem;
}

.title_form {
  text-align: center;
  margin: 5rem 0 1rem 0;
}

.form {
  margin: 0 auto;
  max-width: 500px;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 10px;
}

.text-center {
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input {
  color: white;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
}

input:focus {
  border: 0;
  padding-inline: 2px;
}

.register {
  text-align: center;
  margin-top: 1.5rem;
}

.register a {
  color: blue;
}
